river==0.26.1
spotriver==0.4.4
git+https://github.com/ArthurMangussi/pymdatagen.git@main#egg=mdatagen
pandas==3.0.6
numpy==2.5.3
scikit-learn==1.9.1
matplotlib
seaborn
tqdm==4.70.1
psutil==7.2.2
setuptools<81
